@font-face {
  font-family: Scoreboard;
  src: url("../../assets/fonts/CursedTimerUlil-Aznm.ttf");
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#scoreboard-ctr {
  background-color: #1b244a;
  margin: 30px auto;
  width: 600px;
  height: 400px;
  color: white;
  /*padding: 40px;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#timer {
  width: 200px;
  background-color: #080001;
  font-family: Scoreboard, serif;
  font-size: 4rem;
  color: darkseagreen;
  padding: 10px;
}

.team-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-ctr h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}

.score-ctr {
  background-color: #080001;
  width: 160px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  font-family: Scoreboard, serif;
  color: #f94f6d;
  font-size: 5rem;
  min-width: 45px;
  min-height: 45px;
}

.increment {
  margin-top: 25px;
  width: 100%;
  /*padding: 0 10px;*/
  font-family: Scoreboard, serif;
  display: flex;
  justify-content: space-between;
}

.increment button {
  font-family: Scoreboard, serif;
  font-size: 1.2rem;
  padding: 3px;
  border: #9aabd8 3px solid;
  background-color: transparent;
  color: #9aabd8;
  border-radius: 5px;
  width: 45px;
  height: 45px;
}

.fouls {
  color: #f94f6d;
  font-size: 3rem;
  min-width: 45px;
  min-height: 45px;
}
